.cart__emptyContainer {
    text-align: center;
    background-color: #ffffff;
    padding: 100px 25px 100px 25px;
    margin: 25px 150px 50px 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.cart__emptyTitle {
    font-size: 20px;
    color: #333333;
}

.cart__backButton {
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
    cursor: pointer;    
}

.cart__itemsContainer {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    background-color: #f7f7f7;
    height: 100vh;
}

.cart__items {
    flex-grow: 1;
}

.cart__summaryContainer {
    width: 30%;
    height: min-content;
    text-align: left;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px;
    margin: 15px 150px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.cart__summaryTitle {
    font-size: 20px;
    margin-top: 25px;
}

.list__summaryServices {
    list-style: none;
    text-align: left;
}

.cart__summaryTotal {
    font-size: 16px;
    margin-top: 25px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.cart__requestButton {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    margin-bottom: 15px;
    width: 100%;
}

.cart__requestButton:hover {
    background-color: #ff6600;
}

.cart__emptyButton {
    font-size: 12px;
    background-color: #ffffff00;
    color: #333333;
    border: none;
    cursor: pointer;
    margin-left: 150px;
}

.cart__emptyButton:hover {
    color: #ff6600;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .cart__emptyContainer {
        margin: 25px 25px 50px 50px;
    }

    .cart__emptyTitle {
        font-size: 18px;
    }

    .cart__backButton {
        width: 90%;
        margin: 25px 15px 0 15px;
    }

    .cart__summaryContainer {
        width: 92%;
        margin: 15px;
        text-align: center;
    }

    .cart__itemsContainer {
        display: inline-block;
    }

    .cart__requestButton {
        margin-top: 35px;
    }
}