.itemDetail__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 75px 100px 75px 100px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.itemDetail__title {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.itemDetail__imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.itemDetail__image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.itemDetail__price {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 90px;
}

.itemDetail__description {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 90px 20px 90px;
    text-align: justify;
}

.itemDetail__countContainer {
    margin-left: 90px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .itemDetail__container {
        padding: 25px 25px 25px 25px;
        margin: 0 15px 50px 15px;
    }

    .itemDetail__title {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .itemDetail__price {
        font-size: 22px;
        margin: -15px 0 15px 0;
        text-align: center;
    }
    
    .itemDetail__description {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        text-align: justify;
    }

    .itemDetail__countContainer {
        margin: 15px 0 0 0;
        display: flex;
        align-items: center;
    }
}