.itemDetail__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 75px 100px 75px 100px;
    margin-bottom: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.itemDetail__title {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.itemDetail__flexContainer {
    display: flex;
    flex-direction: row; /* Cambiado a fila para que la imagen esté a la izquierda */
    justify-content: space-between;
}

.itemDetail__imageContainer {
    order: 1; /* Cambiado el orden de la imagen */
}

.itemDetail__image {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.itemDetail__infoContainer {
    flex: 1;
    margin-left: 50px; /* Ajuste del margen */
}

.itemDetail__price {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.itemDetail__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.itemDetail__countContainer a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.itemDetail__countContainer a:hover {
    background-color: #ff6600;
    text-shadow: 2px 2px 4px #333333;
    padding: 10px 22px;
}

@media screen and (max-width: 768px) {

    .itemDetail__flexContainer {
        flex-direction: column;
    }

    .itemDetail__imageContainer {
        order: 2; /* Cambiado el orden de la imagen */
        margin-bottom: 20px; /* Añadido margen inferior */
    }

    .itemDetail__image {
        max-width: 100%;
    }

    .itemDetail__infoContainer {
        margin-left: 0; /* Resetear el margen izquierdo */
    }

    .itemDetail__container {
        padding: 25px 25px 25px 25px;
        margin: 0 15px 50px 15px;
    }

    .itemDetail__title {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .itemDetail__price {
        font-size: 22px;
        margin: 15px 0 15px 0;
        text-align: center;
    }
    
    .itemDetail__description {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        text-align: justify;
    }

    .itemDetail__countContainer {
        margin: 15px 0 0 0;
        display: flex;
        align-items: center;
    }
}