.itemList__container {
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .itemList__content {
    max-width: 800px;
    text-align: center;
  }
  
  .itemList__content h2 {
    color: #333333;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .itemList__content p {
    color: #666666;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 25px;
  }

  @media screen and (max-width: 768px) {
    .itemList__content {
        max-width: 80%;
    }
  
    .itemList__content h2 {
        font-size: 36px;
    }
  
    .itemList-content p {
        font-size: 20px;
    }
  }